.min-height {
	&-xs {
		min-height: clamp-smart(150px, 250px);
	}
	&-sm {
		min-height: clamp-smart(200px, 400px);
	}
	&-md {
		min-height: clamp-smart(400px, 600px);
	}
	&-lg {
		min-height: clamp-smart(500px, 800px);
	}
	&-full {
		min-height: 100vh;
	}

	&-custom {
		@include device-input("mouse") {
			min-height: 300vh;
		}
	}
}
