:root {
	/*
  Global Colors
  */

	--h: 217;
	--s: 19%;
	--l: 24%;
	--hsl: var(--h) var(--s) var(--l);

	--hsl-dark: 217 83% 14%;
	--hsl-white: 228 11% 91%;
	--hsl-light: 210 13% 64%;

	--color-primary: hsl(var(--hsl));
	--color-primary-dark: hsl(var(--h), var(--s), calc(var(--l) - 5%));
	--color-surface: hsl(var(--hsl-white) / 0.075);

	--color-gradient-dark: linear-gradient(0deg, var(--color-dark) 50%, transparent 100%);

	--color-dark: hsl(var(--hsl-dark));
	--color-light: hsl(var(--hsl-light));
	--color-white: hsl(var(--hsl-white));
	--color-white-muted: hsl(var(--hsl-white) / 0.5);

	--color-danger: #e6544c;
	--color-success: #05b864;

	/*
  Typography
  */
	--ff-primary: "#{$font-family-primary}", sans-serif;
	--ff-secondary: "#{$font-family-secondary}", serif;
	--lh-none: 1;
	--lh-xs: 1.1;
	--lh-sm: 1.25;
	--lh-md: 1.5;

	//Generate --h variables from h6 to h2
	$min: 1.125rem;
	$max: 1.25rem;
	$min-scale: 1.08;
	$max-scale: 1.36;
	$i: 6;
	@while $i >= 2 {
		--h#{$i}: #{clamp-smart($min, $max)};
		$min: $min * $min-scale;
		$max: $max * $max-scale;
		$i: $i - 1;
	}
	--h1: #{clamp-smart(2rem, 5.6rem)};
	--display-1: #{clamp-smart(8rem, 31.25rem)};

	--fs-xs: 0.75em;
	--fs-sm: 0.875em;
	--fs-lg: var(--h6);
	--fs-xl: var(--h5);
	--fs-2xl: var(--h4);

	/*
  Spacers
  */
	//generate spacers from abstracts/_variables.scss $spacers
	@each $name, $value in $spacers {
		--spacer-#{$name}: #{$value};
	}

	/*
  Transitions
  */
	--transition-duration: 500ms;
	--transition-timing-function: ease;
	--transition: var(--transition-duration) var(--transition-timing-function);

	--animate-transition: 500ms ease-out;
	--animate-distance: #{clamp-smart(0.5rem, 1rem, 500px, 1920px)};

	/*
  Utilities
  */
	--shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.05);

	/*
  Elements
  */
	--header-height: #{clamp-smart(3.5rem, 9.375rem, 768px, 1920px)};

	--text-color: hsl(var(--hsl-white));
	--text-color-opposite: hsl(var(--hsl-dark));
	--text-color-muted: hsl(var(--hsl-white) / 0.6);

	--border-color: hsl(var(--hsl-white) / 0.3);
	--border-width: 1px;
	--border-radius: 0;

	--container-spacer: #{clamp-smart(1.125rem, 2.5rem)};
	--container-width: calc(1720px + var(--container-spacer) * 2);

	--link-color: currentColor;
	--link-color-hover: currentColor;

	// Input
	--input-border-color: currentColor;
	--input-border-color-hover: currentColor;
	--input-border-color-focus: var(--color-white);
	--input-border-width: var(--border-width);
	--input-background-color: transparent;

	--input-border-radius: var(--border-radius);
	--input-height: #{clamp-smart(2.625rem, 3.125rem)};
	--input-py: 0.75rem;
	--input-px: 0;
	--input-fs: 16px; //must be >= 16px to fix "iphone input focus zoom issue"
	--input-choice-size: 1em;
	--input-choice-spacer: 0.3rem;

	// Button
	--button-color: var(--text-color-opposite);
	--button-color-hover: var(--text-color);
	--button-background-color: var(--color-white);
	--button-background-color-hover: transparent;
	--button-border-color: transparent;
	--button-border-color-hover: currentColor;

	--button-border-width: var(--border-width);
	--button-border-radius: calc(var(--input-height) / 2);
	--button-height: var(--input-height);
	--button-py: 0.25rem;
	--button-px: 1.875em;
	--button-fs: inherit;

	// Table
	--table-px: 0.5em;
	--table-py: 0.7em;
	--table-border-width-accent: calc(var(--border-width) * 2);
	--table-border-color-accent: currentColor;

	// Icon
	--icon-color: currentColor;
	--icon-holder-color: var(--text-color-opposite);
	--icon-holder-color-hover: var(--color-white);
	--icon-holder-background-color: var(--color-white);
	--icon-holder-background-color-hover: var(--color-primary-dark);

	--icon-size: 1.125em;
	--icon-size-lg: #{clamp-smart(3rem, 5rem)};
	--icon-holder-radius: 0;
	--icon-holder-size: 2.25em;

	// Card
	--card-color: var(--color-dark);
	--card-background-color: var(--color-white);

	--card-radius: 0;

	// Other
	--curtain-background-color: hsl(0, 0%, 0%, 0.4);

	--label-font-size: inherit;

	--section-spacer: #{clamp-smart(2.5rem, 10rem)};

	--element-spacer: #{clamp-smart(1rem, 1.125rem)};
	--element-spacer-sm: calc(var(--element-spacer) / 2);

	@if ($overlay-menu-bp) {
		--overlay-menu-breakpoint: #{map-get($grid-breakpoints, $overlay-menu-bp)};
	}
	--overlay-menu-color: var(--text-color);
	--overlay-menu-background-color: var(--color-primary);
	--overlay-menu-slide-offset: 50%;
	--overlay-menu-spacer-x: var(--container-spacer);
	--overlay-menu-width: 85%;
	--overlay-menu-max-width: 35em;

	--menu-spacer: 2.5em;

	--viewport-border-width: 0.5em;

	--vertical-line-height: 10em;

	.color-scheme-opposite {
		--color-surface: hsl(var(--hsl) / 0.075);

		--text-color: var(--color-dark);
		--text-color-opposite: var(--color-white);
		--text-color-muted: hsl(var(--hsl-dark) / 0.5);

		--button-color: var(--text-color-opposite);
		--button-color-hover: var(--text-color);
		--button-background-color: var(--color-dark);

		--input-border-color: hsl(var(--hsl-white) / 0.2);
		--input-border-color-hover: hsl(var(--hsl-white) / 0.4);
		--input-border-color-focus: var(--color-primary-dark);
		--input-background-color: var(--color-dark);
		--input-text-color: var(--text-color-opposite);

		--icon-holder-color: var(--color-white);
		--icon-holder-color-hover: var(--color-dark);
		--icon-holder-background-color: var(--color-dark);
		--icon-holder-background-color-hover: var(--color-primary);

		--table-border-color-accent: var(--color-white);

		// --curtain-background-color: hsl(var(--hsl-white) / 0.25);

		--overlay-menu-color: var(--color-white);
		--overlay-menu-background-color: var(--color-dark);
	}
}
