@import "main-menu";
@import "overlay-menu";

.main-header {
	--_curtain-translate: -100%;
	position: absolute;
	width: 100%;
	z-index: 1500;
	margin-top: var(--viewport-border-width);
	@include bp($overlay-menu-bp, max) {
		--_logo-spacer: var(--spacer-3);
		--button-height: 2.8em;
		--button-px: 1.25em;
		position: fixed;
		width: calc(100% - var(--viewport-border-width) * 2);
		&::after {
			content: "";
			position: absolute;
			inset: 0 0 calc(var(--viewport-border-width) * -1);
			left: 0;
			top: 0;
			transform: translateY(var(--_curtain-translate));
			transition: transform var(--transition);
			background: var(--color-primary);
			z-index: -1;
		}
	}
	&--not-top {
		--_curtain-translate: 0;
	}

	&--sticky {
		position: sticky;
		top: 0;
		left: 0;
	}

	&-space {
		min-height: var(--header-height);
	}
	.custom-logo {
		max-height: calc(var(--header-height) - var(--_logo-spacer, var(--spacer-4)));
		width: auto;
	}
}
